.actions__title {
  width: 113px;
  font-family: $Bebas;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;

  color: #102654;
  margin: 0;
  margin-left: auto;
  margin-right: auto;

  padding-top: 113px;
}

.actions__block {
  display: flex;
  justify-content: space-between;

  margin-top: 52px;
}

@media (max-width: $tablet) {
  .actions__title {
    width: 96px;
    font-size: 42px;
    line-height: 42px;
    padding-top: 96px;
  }

  .actions__block {
    flex-direction: column;
    margin-top: 41px;
  }
}

@media (max-width: $mobile) {
  .actions__title {
    width: 73px;
    font-family: $Bebas;
    font-size: 32px;
    line-height: 32px;

    padding-top: 67px;
  }

  .actions__block{
    margin-top: 45px;
  }
}
