.feedback {
  background-image: linear-gradient(to right, #102654 50%, #ffffff 50%);
  padding-bottom: 46px;
}

.feedback-form {
  width: 50%;
}

.feedback-form__title {
  font-family: $Bebas;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
  text-transform: lowercase;
  color: $white;
  margin: 0;
  margin-top: 60px;
}

.feedback-form form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 410px;
  margin-top: 33px;
}

button[type="submit"] {
  width: 100%;
  height: 55px;
  background: none;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $RobotoCondensed;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $white;
  border: 3px solid $white;

  cursor: pointer;
  margin-top: 29px;

  &:hover,
  &:focus {
    background-color: $white;
    color: $dark-blue;
    outline: none;
    transition: 0.3s;
  }

  &:active {
    opacity: 0.5;
  }
}


.feedback-form__input-name,
.feedback-form__input-phone {
  box-sizing: border-box;
  padding: 5px;
  width: 190px;
  border: none;
  border-bottom: 1px solid #74819C;
  font-size: 14px;
  outline: none;
  background-color: transparent;
  color: #ffffff;
  -webkit-border-radius: 0;
}

.feedback-form__label-name,
.feedback-form__label-phone {
  font-family: $RobotoCondensed;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: $white;

  position: absolute;
  top: -21px;
  left: 0;
  transition: 0.2s ease all;
  pointer-events: none;
}

.feedback-form__label-box {
  position: relative;
  width: 100%;
}

.feedback-form__label-box::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  content: "";
  transition-duration: 0.3s;
  transition-property: width;
}

input:focus ~ .feedback-form__label-box::before {
  width: 100%;
}

.feedback-form__input-name:focus ~ .feedback-form__label-box .feedback-form__label-name,
.feedback-form__input-name:valid ~ .feedback-form__label-box .feedback-form__label-name,
.feedback-form__input-phone:focus ~ .feedback-form__label-box .feedback-form__label-phone,
.feedback-form__input-phone:valid ~ .feedback-form__label-box .feedback-form__label-phone {
  transform: translateY(-20px);
}


@media (max-width: $tablet) {
  .feedback-form {
    width: 100%;
  }

  .feedback-form__title {
    font-size: 42px;
    line-height: 42px;
    margin-top: 69px;
    margin-left: 88px;
  }

  .feedback-form form {
    width: 70%;
    margin-left: 13%;
  }

  .feedback-form__input-name,
  .feedback-form__input-phone {
    width: 208px;
  }

  .feedback {
    background-image: linear-gradient(to bottom, #102654 48%, #ffffff 48%);
  }
}

@media (max-width: $mobile) {
  .feedback {
    background-image: linear-gradient(to bottom, #102654 43.3%, #ffffff 43.3%);
  }

  .feedback-form {
    width: 100%;
  }

  .feedback-form__title {
    font-size: 32px;
    line-height: 32px;
    margin: 0;
    margin-top: 68px;
  }

  .feedback-form form {
    width: 100%;
    flex-direction: column;
    margin: 0;
    margin-top: 36px;
  }


  .feedback-form__input-name,
  .feedback-form__input-phone {
    width: 100%;
  }

  form div {
    margin-bottom: 17px;
  }

  button[type="submit"] {
    margin-top: 4px;
  }
}
