footer {
  background-color: #030a1a;
}

.footer__logo {
  width: 89px;
  height: 20px;
  margin-top: 10px;
}

.footer-navigation {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  width: 431px;
  margin-left: 25px;
}

.footer-navigation li {
  margin-left: 40px;
  padding: 10px 0;

  &:first-child {
    margin-left: 0;
  }

  &:nth-child(6n+6) {
    margin-left: 0;
  }
}

.footer-navigation a {
  font-family: $RobotoCondensed;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;

  color: $white;

  &:hover,
  &:focus {
    opacity: 0.7;
    transition: 0.3s;
  }
}

.footer-social-list {
  @include list-reset();
  display: flex;
  width: 110px;
  justify-content: space-between;
  margin-top: 9px;
}

.footer-social-list a {
  &:hover,
  &:focus {
    opacity: 0.7;
    transition: 0.3s;
  }
}

.footer-social-list__icon {
  &--vk {
    width: 24px;
    height: 24px;
    margin-top: -3px;
  }

  &--instagram {
    width: 24px;
    height: 24px;
    margin-top: -2px;
  }

  &--fb {
    width: 12px;
    height: 24px;
    margin-top: -2px;
  }
}

@media (max-width: $tablet) {
  .footer__logo {
    width: 82px;
    height: 20px;
    margin-top: 2px;
  }

  .footer-navigation {
    width: 391px;
    margin-left: 22px;
    margin-top: -2px;
  }

 .footer-navigation li {
   margin: 0;
    margin-left: 30px;
    padding: 5px 0;

    &:first-child {
      margin-left: 0;
    }
  }

  .footer-navigation a {
    font-family: $RobotoCondensed;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: $white;
    margin-right: 0;
  }

  .footer-social-list {
    @include list-reset();
    display: flex;
    width: 100px;
    justify-content: space-between;
    margin-top: 2px;
  }

  .footer-social-list__icon {
    &--vk {
      margin-top: -4px;
    }
  }
}

@media (max-width: $mobile) {
  .footer__logo {
    width: 68px;
    height: 15px;
    position: absolute;
    top: 49px;
  }

  .footer-navigation {
    width: 303px;
    display: block;
    column-count: 2;
    margin: 0;
    margin-top: 5px;
  }

  .footer-navigation li {
    margin: 0;
    padding: 0;
    margin-top: 21px;

     &:first-child {
      margin-top: 40px;
     }
   }

  .footer-navigation__item a {
    font-size: 16px;
    line-height: 19px;
  }

  .footer-social-list {
    width: 145px;
    margin-top: 25px;
  }

  .footer-social-list__icon {
    &--vk {
      width: 32px;
      height: 17px;
      margin-top: 3px;
    }

    &--instagram {
      width: 27px;
      height: 27px;
    }

    &--fb {
      width: 17px;
      height: 27px;
    }
  }
}
