.gym {
  padding-bottom: 115px;
}

.gym__title {
  font-family: $Bebas;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: $dark-blue;
  margin: 0;
  margin-left: 60px;
  padding-top: 168px;
}

.gym__subtitle {
  font-family: $RobotoCondensed;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: $dark-blue;
  margin: 0;
  margin-left: 60px;
  padding-top: 9px;
}

.gym__description {
  width: 360px;
  font-family: $RobotoCondensed;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: $dark-blue;
  letter-spacing: -0.05px;
  margin: 0;
  margin-left: 60px;
  padding-top: 38px;

  &--second-paragrapth {
    padding-top: 8px;
  }
}

.gym__image-block {
  width: 57%;
}

.gym__image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 121px;
}

.gym__video-block {
  margin-left: 437px;
  margin-right: auto;
  margin-top: -113px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 364px;
    height: 228px;
    top: 0;
    left: 0;
    background-color: #14367a;
    opacity: 0.5;
    z-index: 1;
  }
}

.gym__video-button {
  position: absolute;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
  left: 50%;
  margin-left: -36px;
  top: 49%;
  margin-top: -36px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  border: none;
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    top: -14px;
    left: -14px;
    background-image: url("../img/circle-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.gym__icon-play {
  width: 17px;
  height: 17px;
  margin-top: 2px;
  margin-left: 5px;
}

@media (max-width: $tablet) {
  .gym__info-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gym__title {
    font-size: 42px;
    line-height: 42px;
    margin: 0;
    padding-top: 100px;
  }

  .gym__video-block {
    margin-left: auto;
    margin-right: auto;
    margin-top: -84px;

    &::before {
      width: 266px;
      height: 167px;
    }
  }

  .gym__anons-video {
    width: 266px;
    height: 167px;
  }

  .gym__description {
    width: 512px;
    text-align: center;
    margin: 0;
    padding-top: 35px;

    &--second-paragrapth {
      display: none;
    }
  }

  .gym__subtitle {
    margin: 0;
  }

  .gym__image-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gym__image {
    margin-top: 43px;
  }

  .gym__video-button {
    width: 52px;
    height: 52px;
    left: 50%;
    margin-left: -27px;
    top: 49%;
    margin-top: -28px;

    &::before {
      position: absolute;
      content: "";
      width: 72px;
      height: 72px;
      top: -10px;
      left: -10px;
      background-image: url("../img/circle-tablet.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .gym__icon-play {
    width: 12px;
    height: 12px;
    margin-top: 3px;
    margin-left: 4px;
  }
}


@media (max-width: $mobile) {
  .gym {
    padding-bottom: 65px;
  }

  .gym__info-block {
    align-items: flex-start;
  }

  .gym__title {
    font-size: 32px;
    line-height: 32px;

    margin-left: 15px;
    padding-top: 68px;
  }

  .gym__subtitle {
    margin-left: 15px;
    padding-top: 6px;
  }

  .gym__description {
    width: 83%;
    text-align: left;

    margin-left: 15px;
    padding-top: 23px;
  }

  .gym__image {
    margin-top: 34px;
  }

  .gym__video-block {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    &::before {
      width: 320px;
    }
  }

  .gym__anons-video {
    width: 320px;
  }

  .gym__video-button {
    margin-left: -25px;
    margin-top: -27px;
  }
}
