.main-block {
  background-color: $red;
  background-image: url("../img/main-background.png");
  background-size: cover;
  min-height: 658px;

  margin-top: -55px;
}

.main-block__info {
  display: flex;
  flex-direction: column;

  width: 400px;

  padding-top: 170px;
  padding-bottom: 80px;
  outline: 1px solid yellow;
}

.main-block__title {
  display: block;
  width: 298px;
  font-family: $Bebas;
  font-weight: 700;
  font-size: 110px;
  line-height: 109px;
  text-align: right;
  letter-spacing: 0.03em;
  position: relative;
  color: $white;
  outline: 1px solid yellow;

  margin: 0;
  margin-left: 97px;
  padding-top: 10px;
  order: 2;
}

.main-block__subtitle {
  font-family: $Bebas;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: $white;
  margin: 0;
  margin-left: 305px;
  order: 1;
}

.main-block-list {
  @include list-reset();
  order: 3;
  position: absolute;
  bottom: 225px;
  left: 122px;
}

.main-block-list__item {
  font-family: $RobotoCondensed;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: $white;
}

.main-block__link {
  width: 226px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;
  order: 4;
  font-family: $RobotoCondensed;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;

  border: 4px solid $white;

  margin-top: 58px;
  margin-left: 163px;

  &:hover,
  &:focus {
    background-color: $white;
    color: $red;
    transition: 0.3s;
  }

  &:active {
    opacity: 0.5;
  }
}

.main-block__image-block {
  margin-top: 52px;
  margin-left: -126px;
  outline: 1px solid lime;
}

@media (max-width: $tablet) {
  .main-block {
    background-image: url("../img/main-background-tablet.png");
    min-height: 554px;
    margin-top: -62px;
  }

  .main-block__info {
    width: 330px;

    padding-top: 135px;
    padding-bottom: 80px;
    //margin-left: -150px;
  }

  .main-block__title {
    font-size: 86px;
    line-height: 86px;
    margin: 0;
    margin-left: 25px;
    padding-top: 6px;
  }

  .main-block__subtitle {
    font-size: 34px;
    line-height: 34px;
    margin: 0;
    margin-left: 261px;
  }

  .main-block-list {
    bottom: 197px;
    left: 46px;
  }

  .main-block__link {
    width: 179px;
    height: 52px;

    margin-top: 43px;
    margin-left: 139px;
  }

  .social-list {
    display: none;
  }

  .main-block__image-block {
    width: 324px;
    margin-left: 30px;
  }

  .main-block__image {
    width: 324px;
    height: 390px;

    margin-top: 30px;
    //margin-left: 75px;
  }
}

@media (max-width: $mobile) {
  .main-block {
    background-image: url("../img/main-background-mobile.png");
    min-height: 491px;
    margin-top: -38px;
  }

  .main-block__info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-top: 119px;
    padding-bottom: 70px;

    outline: 1px solid green;
  }

  .main-block__title {
    font-size: 78px;
    line-height: 78px;
    margin-left: -8px;
    padding-top: 13px;
  }

  .main-block__subtitle {
    font-size: 28px;
    line-height: 28px;
    margin-left: 240px;
    margin-top: -9px;
  }

  .main-block-list {
    bottom: 280px;
    left: 250px;
  }

  .main-block__link {
    width: 288px;
    height: 55px;

    margin: 0;
    margin-top: 42px;
  }

  .main-block__image-block {
    display: none;
  }

  .main-block__image {
    display: none;
  }
}
