.test3 {
  background-color: lightblue;
}

.promo-slider {
    width: 600px;
    height: 300px;
}

.promo {
    box-shadow: 0 7px 12px rgba(158, 158, 163, 0.1);
    border-radius: 10px;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
}

.pizza {
  width: 200px;
    background-color: #fff1b8;
}

.kebab {
  width: 200px;
  background-color: red;
}

.vegetables {
  width: 200px;
  background-color: green;
}

.sushi {
  width: 200px;
  background-color: yellow;
}


.promo-title {
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 46px;
    color: #302c34;
}

.promo-text {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 28px;
    color: #302c34;
}
