.responses {
  padding-bottom: 120px;
}

.responses__title {
  width: 143px;
  font-family: $Bebas;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;

  color: #102654;
  margin: 0;
  margin-left: auto;
  margin-right: auto;

  padding-top: 118px;
}

@media (max-width: $tablet) {
  .responses {
    padding-bottom: 100px;
  }

  .responses__title {
    width: 122px;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 0.03em;

    padding-top: 100px;
  }
}

@media (max-width: $mobile) {
  .responses {
    padding-bottom: 70px;
  }

  .responses__title {
    width: 93px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.03em;
    padding-top: 39px;
  }
}
