.coaches {
  padding-bottom: 118px;
}

.coaches__title {
  font-family: $Bebas;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;

  color: #102654;
  margin: 0;

  padding-top: 122px;
}

.slider__list {
  @include list-reset();
  margin-top: 52px;
}

@media (max-width: $tablet) {
  .coaches {
    background-color: lightcoral;
    padding-bottom: 98px;
  }

  .coaches__title {
    width: 129px;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 0.03em;

    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .slider__list {
    margin-top: 42px;
  }
}

@media (max-width: $mobile) {
  .coaches {
    background-color: lightcoral;
    padding-bottom: 45px;
  }

  .coaches__title {
    font-size: 32px;
    line-height: 32px;

    padding-top: 70px;
  }
}
