.wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 103px;

  outline: 1px solid hotpink;

  &--header {
    display: flex;
    justify-content: space-between;
  }

  &--main-block {
    display: flex;
    justify-content: space-between;
  }

  &--gym {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &--season-pass {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--events {
    display: flex;
  }

  &--feedback {
    display: flex;
  }
}


@media (max-width: $tablet) {
  .wrapper {
    padding: 0 45px;

    &--gym {
      flex-direction: column;
    }

    &--responses {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: $mobile) {
  .wrapper {
    padding: 0 15px;

    outline: 1px solid blue;

    &--gym {
      padding: 0;
    }

    &--events {
      flex-direction: column;
      align-items: center;
    }

    &--action {
      flex-direction: column;
      align-items: center;
    }

    &--advantages {
      padding: 0;
    }

  }
}
