/*Шрифты*/
$Bebas: "Bebas", "Arial", sans-serif;
$RobotoCondensed: "RobotoCondensed", "Arial", sans-serif;

/*Цвета*/

$dark-blue: #102654;
$white: #ffffff;
$black: #030A1A;
$red: #ED0233;

/*Расширение экрана*/

$tablet: 1199px;
$mobile: 767px;

